* {
  box-sizing: border-box;
}

:root {
  --accent-yellow: rgb(248	213	93);
  --accent-red: rgb(179	61	57);
  --bg-color: rgb(253	244	232);
}

html {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px;

  background-color: var(--accent-red);
}

.logo {
  font-size: 36px;
  font-weight: 800;
  color: var(--bg-color);
}

nav {
  display: flex;
  gap: 40px;
}

nav button {
  cursor: pointer;
  font-size: inherit;
  font-weight: 600;
  color: var(--bg-color);
  background-color: transparent;
  border: none;
}

nav button:hover {
  color: var(--accent-yellow);
}

nav button.active {
  color: var(--accent-yellow);
}

#content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}

.hero {
  width: 500px;
  aspect-ratio: 1/1;
  animation: floating 3s infinite ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px); /* Starting position (no vertical translation) */
  }
  65% {
    transform: translate(0, 15px); /* Moves the element down by 15px */
  }
  to {
    transform: translate(0, 0px); /* Returns to the original position */
  }
}

.animated-text-two,
.animated-text-one {
  position: absolute;
  z-index: -1;
  font-size: 100px;
  font-weight: bold;
  text-wrap-mode: nowrap;
  text-transform: uppercase;
}

.animated-text-one {
  top: 15%;
  color: var(--accent-red);
  animation: scroll-left 100s linear infinite alternate;
}

@keyframes scroll-left {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(-75%);
  }
}

.animated-text-two {
  bottom: 15%;
  color: transparent;
  -webkit-text-stroke: 2px var(--accent-red);
  animation: scroll-right 100s linear infinite alternate;
}

@keyframes scroll-right {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(75%);
  }
}

.button-big {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 40px;
  border-radius: 30px;
  color: var(--accent-red);
  background-color: var(--accent-yellow);
  border: 2px solid var(--accent-yellow);

}

.button-big:hover{
  color: var(--accent-yellow);
  background-color: var(--accent-red);
}

.cards {
  width: 100%;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--bg-color);
  border: 1px solid var(--accent-red);
  background-color: var(--accent-red);
  border-radius: 20px;
  padding: 15px;
  overflow: hidden;
}

.card img {
  width: 100%;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .price {
  margin-left: auto;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 30px;
  color: var(--accent-red);
  background-color: var(--accent-yellow);
  border: 2px solid var(--accent-yellow);
}

.card h2 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.card p {
  width: 60%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.card > *{
  position: relative;
  z-index: 1;
}

.card::before {
  position: absolute;
  top: -25%;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background-color: var(--bg-color);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
  top: -100%;
}

.card:hover > img {
  transform: rotate(15deg);
}